<%if(posts.length ){%>
    <%posts.forEach(post => { %>
        <div class="container post space-y-2 p-2 border rounded-md">
            <div class="space-y-2">
                <a href="/profiles/<%=post.author.id%>">
                    <div class="flex flex-row items-start gap-4">
                        <img 
                        class="h-10 w-10 rounded-full"
                        src="<%=post.author&&post.author.pictureUrl%>"
                        alt= "<%=post.author&&post.author.name%>" 
                        >
                        <div class="flex flex-col">
                            <h1 class="font-md"><%=post.author&&post.author.name%></h1>
                            <span class="text-xs font-light text-slate-400"><%=post.createdAt%></span>
                        </div>
                    </div>
                </a>
                <a href="/posts/<%=post.id%>">
                    <p class="font-light text-md">
                        <%=post.textContent%>
                    </p>
                </a> 
                <a href="<%=post.media%>">
                    <img 
                        src="<%=post.media%>"
                        alt="post"
                        class="w-full rounded-md"
                    >
                </a>
            </div>
            <hr>
            <div class="interactions flex flex-row justify-between 
                items-center">
                <button
                    class="text-blue-400 text-xl  px-4 py-2 
                        rounded-sm transition-all hover:bg-slate-400"
                    onclick="window.location.assign('/posts/<%=post.id%>')"
                >
                    <i class="fa-solid fa-envelope"></i>
                    <span class="text-slate-500 font-light text-sm">
                        <%=post.comments%> Comments
                    </span>
                </button>
                <button
                    class="text-blue-400 text-xl  px-4 py-2 
                        rounded-sm transition-all hover:bg-slate-400 like-btn focus:outline-none"
                >
                    <i class="fa-solid fa-heart"></i> 
                    <span class="text-slate-500 font-light text-sm"><%=post.likes%></post.likes> Likes</span>
                </button>
                <button
                    class="text-blue-400 text-xl  px-4 py-2 
                        rounded-sm transition-all hover:bg-slate-400 share-btn"
                >
                    <i class="fa-solid fa-share-nodes"></i>
                    <span class="text-slate-500 font-light text-sm">
                        <%=post.shared%> Shared
                    </span>
                </button>
            </div>
            <hr>
            <div class="comment-section space-y-4" aria-live="polite">
                <%-include('./comment-form.ejs') %>
            </div>
            <div class="comments space-y-4" aria-live="polite"></div>
        </div>
        <hr class="my-2">  
        <%})%>
    <%}%>