<%if(posts.length ){%>
    <%posts.forEach(post => { %>
        <div class="container post space-y-2 p-2 border rounded-md">
            <div class="space-y-2">
                <div class="flex flex-row items-start gap-4">
                    <img 
                        class="h-10 w-10 rounded-full"
                        src="<%=post.author&&post.author.pictureUrl%>"
                        alt= "<%=post.author&&post.author.name%>" 
                    >
                    <div class="flex flex-col">
                        <h1 class="font-md"><%=post.author&&post.author.name%></h1>
                        <span class="text-xs font-light text-slate-400"><%=post.createdAt%></span>
                    </div>
                </div>
                <p class="font-light text-md">
                    <%=post.textContent%>
                </p>
                <img 
                    src="https://images.unsplash.com/photo-1683009686716-ac2096a5a73b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60"
                    alt="post"
                    class="w-full rounded-md"
                >
            </div>
            <hr>
            <div class="interactions flex flex-row justify-between 
                items-center">
                <button
                    class="text-blue-400 text-xl  px-4 py-2 
                        rounded-sm transition-all hover:bg-slate-400 comment-btn"
                >
                    <i class="fa-solid fa-envelope"></i>
                    <span class="text-slate-500 font-light text-sm"><%=post.comments%> Comments</span>
                </button>
                <button
                    class="text-blue-400 text-xl  px-4 py-2 
                        rounded-sm transition-all hover:bg-slate-400 like-btn focus:outline-none"
                >
                    <i class="fa-solid fa-heart"></i> 
                    <span class="text-slate-500 font-light text-sm"><%=post.likes%></post.likes> Likes</span>
                </button>
                <button
                    class="text-blue-400 text-xl  px-4 py-2 
                        rounded-sm transition-all hover:bg-slate-400 share-btn"
                >
                    <i class="fa-solid fa-share-nodes"></i>
                    <span class="text-slate-500 font-light text-sm"><%=post.shared%> Shared</span>
                </button>
            </div>
            <hr>
            <div class="comment-section space-y-4" aria-live="polite">
                <%-include('./comment-form.ejs') %>
            </div>
            <div class="comments space-y-4" aria-live="polite">
            </div>
        </div>
        <hr class="my-2">  
        <%})%>
    <%}%>