<form 
    action="" 
    method="post" 
    class="w-full space-y-4 border p-2 rounded-md" 
    novalidate
    >
    <div class="mb-16">
        <%if(profile.banner) {%>
            <div class="relative w-full h-40">
                <div id="banner" style="background-image: url('<%=profile.banner%>');" 
                    class=" w-full h-40 absolute top-0 right-0 "
                > 
                </div>
                <div class="absolute left-2 top-28">
                    <img src="<%=profile.pictureUrl%>" 
                        alt="<%=profile&&profile.name%>" 
                        class="profile h-24 w-24 rounded-full"
                    >
                    <button id="picture-btn"  type="button"
                        class="h-10 w-10 rounded-full bg-blue-500 
                        absolute left-8 top-8 text-white">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </div>
                <button id="banner-btn" type="button"
                    class="h-10 w-10 rounded-full bg-blue-500 absolute right-4 top-4 text-white">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <%} else {%>
            <div id="banner" class="w-full h-40 bg-blue-500 relative "> 
                <div class="absolute left-2 top-28">
                    <img src="<%=profile.pictureUrl%>" 
                        alt="<%=profile&&profile.name%>" 
                        class="profile h-24 w-24 rounded-full"
                    >
                    <button id="picture-btn"  type="button"
                        class="h-10 w-10 rounded-full text-blue-500 
                        absolute left-8 top-8 bg-white">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </div>
                <button id="banner-btn" type="button"
                    class="h-10 w-10 rounded-full bg-white text-blue-500 text-white 
                    absolute right-4 top-4">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
        <%}%>
    </div>
    <div class="name flex flex-col items-start gap-2">
        <label for="name" class="text-slate-600 font-light">
            Name
        </label>
        <input type="text" name="name" id="name" 
            placeholder="John Doe" value="<%=profile.name%>"
            class="border-b rounded-sm text-md font-light border 
            p-2 w-full"
            required minLength="2" maxLength="100"
        >
        <span class="hidden text-red-500"></span>
    </div>
    <div class="location flex flex-col items-start gap-4">
        <div class="md:flex flex-row justify-between gap-4 w-full items-center">
            <div class="flex flex-col items-start gap-2">
                <label for="city" class="text-slate-600 font-light">
                    City
                </label>
                <input type="text" name="city" id="city" 
                    placeholder="Tokyo" value="<%=profile.city%>"
                    class="border-b rounded-sm text-md font-light border 
                    p-2 w-full"
                    minlength="2" maxlength="100"
                >
            </div>
            <div class="flex flex-col items-start gap-2">
                <label for="region" class="text-slate-600 font-light">
                    Region
                </label>
                <input type="text" name="region" id="region" 
                    placeholder="Japan" value="<%=profile.region%>"
                    class="border-b rounded-sm text-md font-light border 
                    p-2 w-full"
                    minlength="2" maxlength="100"
                >
            </div> 
        </div>
        <span class="hidden text-red-500"></span>
    </div>
    <div class="banner flex flex-col justify-between 
        gap-2 w-full items-start p-2 border rounded-sm"
    >
        <div class=" flex flex-col items-start gap-2 w-full">
            <label for="banner" class="text-slate-600 font-light">
                Banner
            </label>
            <input type="file" name="banner" id="banner" 
                placeholder="Choose file" 
                class="border-b rounded-sm text-md font-light border 
                p-2 w-full"
            >
        </div>
        <span class="text-center text-slate-600 font-bold text-lg w-full">
            OR
        </span>
        <div class="flex flex-col items-start gap-2 w-full">
            <label for="banner-url" class="text-slate-600 font-light">
                Banner Url
            </label>
            <input type="url" name="banner_url" id="banner-url" 
                placeholder="Image path" value="<%=profile.banner%>"
                class="border-b rounded-sm border text-md font-light 
                p-2 w-full"
            >
        </div>
        <span class="hidden text-red-500"></span>
    </div>
    <div class="picture flex flex-col justify-between gap-2 w-full 
        items-start border p-2 rounded-sm">
        <div class="flex flex-col items-start gap-2 w-full">
            <label for="picture" class="text-slate-600 font-light">
                Profile Picture
            </label>
            <input type="file" name="pictureUrl" id="picture" 
                placeholder="Choose file" 
                class="border-b rounded-sm text-md font-light border 
                p-2 w-full"
            >
        </div>
        <span class="text-center text-slate-600 font-bold text-lg w-full">
            OR
        </span>
        <div class="flex flex-col items-start gap-2 w-full">
            <label for="profile-pic-url" class="text-slate-600 font-light">
                Profile Picture Url
            </label>
            <input type="url" name="pictureUrl" id="profile-pic-url" 
                placeholder="Image path" value="<%=profile.pictureUrl%>"
                class="border-b rounded-sm border text-md font-light 
                p-2 w-full"
            >
        </div>
        <span class="hidden text-red-500"></span>
    </div>
    <button type="submit"
        class="p-4 bg-green-500 rounded-md font-bold 
        text-white hover-opacity-75 w-full"
    >
        Update Changes
    </button>
</form>