
    <aside class=" hidden fixed pt-4 top-16 bottom-0 border-r w-1/5 px-0 xl:block lg:block">
        <a href="/profile" class="flex flex-col items-center mb-4">
            <img 
                class="w-40 h-40 rounded-full"
                src="<%=user&&user.pictureUrl%>" 
                alt="<%=user&&user.name%>"
            >
            <h1 class="font-bold text-gray-500 text-xl">
                <%=user&&user.name%>
            </h1>
        </a>
        <hr class="py-2">
        <nav class="my-2">
            <ul class="space-y-2 text-start w-full" >
                <li class="w-full">
                    <a href="/"
                        class="text-slate-600 font-md text-xl 
                            visited:text-blue-500 hover:bg-slate-300 w-full
                            visited:p-2 space-x-4 p-2 w-full flex items-center "
                    >
                        <i class="fa-solid fa-house"></i>  
                        <span>Home</span>
                    </a>
                </li>
                <li class="w-full">
                    <a href="/people"
                        class="text-slate-600 font-md text-xl visited:text-blue-500 hover:bg-slate-300 w-full
                             space-x-4 p-2 w-full flex items-center"
                    >
                        <i class="fa-solid fa-users-line"></i>  
                        <span>People</span>
                    </a>
                </li>
                <li class="w-full">
                    <a href="/friends"
                        class="text-slate-600 font-md text-xl visited:text-blue-500 hover:bg-slate-300 w-full
                             space-x-4 px-2 py-2 w-full flex items-center"
                    >
                        <i class="fa-solid fa-users-line"></i>
                        <span>Friends</span>
                    </a>
                </li>
                <hr>
                <li class="w-full">
                    <a href="/profile"
                        class="text-slate-600 font-md text-xl hover:bg-slate-300
                        w-full space-x-4 p-2  flex text-center"
                    >
                    <img 
                        class="w-10 h-10 rounded-full"
                        src= "<%=user&&user.pictureUrl%>" 
                        alt="<%=user&&user.name%>"
                    >
                     <span>My profile</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="xl:hidden">
            <%-include('./footer.ejs') %>
        </div>
    </aside>