    <aside id="sidebar" 
        class=" hidden fixed pt-4 top-16 bottom-0 border-r w-1/5 px-0 xl:block lg:block">
        <a href="/profiles/<%=user.id%>" class="flex flex-col items-center mb-4">
            <img 
                class="w-40 h-40 rounded-full"
                src="<%=user&&user.pictureUrl%>" 
                alt="<%=user&&user.name%>"
            >
            <h1 class="font-bold text-gray-500 text-xl">
                <%=user&&user.name%>
            </h1>
        </a>
        <hr class="py-2">
        <nav class="my-2">
            <ul class=" text-start w-full" >
                <li class="w-full">
                    <button 
                        class="w-full p-4 hover:bg-blue-500 hover:text-white 
                        font-bold text-slate-600 space-x-4 transition-all text-start"
                        onclick="window.location.assign('/posts')"
                    >
                        <i class="fa-solid fa-house "></i>  
                        <span>Posts</span>
                    </button>
                </li>
                <hr>
                <li class="w-full">
                    <button 
                        class="w-full p-4 hover:bg-blue-500 hover:text-white 
                        font-bold text-slate-600 space-x-4 text-start"
                        onclick="window.location.assign('/social/people-you-may-know')"
                    >
                        <i class="fa-solid fa-users-line"></i>  
                        <span>People</span>
                    </button>
                </li>
                <hr>
                <li class="w-full">
                    <button 
                        class="w-full p-4 hover:bg-blue-500 hover:text-white 
                        font-bold text-slate-600 space-x-4 text-start"
                        onclick="window.location.assign('/social/<%=user.id%>/friends')"
                    >
                        <i class="fa-solid fa-users-line"></i>
                        <span>Friends</span>
                    </button>
                </li>
            </ul>
        </nav>
        <hr>
        <div class="w-full profile">
            <button 
                class="w-full p-2 hover:bg-blue-500 hover:text-white 
                font-bold text-slate-600 space-x-4 flex items-center"
                onclick="window.location.assign('/profiles/<%=user.id%>')"
                data-set="<%=user.id%>"
            >
            <img 
                class="w-10 h-10 rounded-full"
                src= "<%=user&&user.pictureUrl%>" 
                alt="<%=user&&user.name%>"
            >
             <span>My profile</span>
            </button>
            <hr>
            <button 
                class="w-full p-4 hover:bg-red-500 hover:text-white 
                font-bold text-red-500 space-x-4 text-start"
                onclick="window.location.assign('/auth/logout')"
            >
                <i class="fa-solid fa-power-off"></i>
                <span>Logout</span>
            </button>
        </div>
        <div class="xl:hidden">
            <%-include('./footer.ejs') %>
        </div>
    </aside>