<aside class="small-screen fixed z-5 top-16 pt-4 right-0 bottom-0 border-l w-3/5 
        px-0 bg-blue-500 hidden md:hidden lg:hidden xl:hidden"
        id="side-drawer"
    >
    <a href="/profiles/<%=user.id%>">
        <div class="flex flex-col items-center mb-4">
            <img 
                class="w-40 h-40 rounded-full"
                src="<%=user&&user.pictureUrl%>" 
                alt="<%=user&&user.name%>"
            >
            <h1 class="font-bold text-gray-800 text-xl">
                <%=user&&user.name%>
            </h1>
        </div>
    </a>
    <hr class="py-2">
    <nav class="my-2">
        <button 
            class="w-full p-4 text-start hover:bg-white hover:text-blue-500 
            font-bold text-slate-600 space-x-4 transition-all"
            onclick="window.location.assign('/')"
        >
            <i class="fa-solid fa-house "></i>  
            <span>Posts</span>
        </button>
        <button 
        class="w-full p-4 text-start hover:bg-white hover:text-blue-500 
            font-bold text-slate-600 space-x-4"
            onclick="window.location.assign('/people')"
        >
            <i class="fa-solid fa-users-line"></i>  
            <span>People</span>
        </button>
        <button 
            class="w-full p-4 text-start hover:bg-white hover:text-blue-500 
            font-bold text-slate-600 space-x-4"
            onclick="window.location.assign(
                '/friends/<%=user.id%>/all'
            )"
        >
            <i class="fa-solid fa-users-line"></i>
            <span>Friends</span>
        </button>
    </nav>
    <hr>
    <button 
        class="profile w-full p-4 text-start hover:bg-white hover:text-blue-500 
        font-bold text-slate-600 space-x-4 flex items-center"
        onclick="window.location.assign('/profiles/me')"
    >
    <img 
        class="w-10 h-10 rounded-full"
        src= "<%=user&&user.pictureUrl%>" 
        alt="<%=user&&user.name%>"
    >
        <span>My profile</span>
    </button>
    <%-include('./footer.ejs') %>
</aside>