<%-include('./partials/header') %>
         <div class="people space-y-2">
            <%if(friends.length) {%>
                <%friends.forEach(friend => { %>
                <div class="flex flex-col items-start gap-2 border rounded-md p-2">
                    <a href="/profiles/<%=friend.id %>">
                        <div class="flex flex-row items-center gap-2">
                            <img 
                                src="<%=friend.pictureUrl%>" 
                                alt="<%=friend.name%>" 
                                class="h-10 w-10 rounded-full"
                            >
                            <div class="flex flex-col">
                                <h1 class="text-slate-600"><%=friend.name%></h1>
                                <span class="text-xs text-slate-400 font-light">
                                    <%if(friend.mutualFriends < 2){%>
                                        <%=friend.mutualFriends%> Mutual friend
                                    <%} else {%>
                                        <%=friend.mutualFriends%> Mutual friends
                                    <%}%>
                                </span>
                            </div>
                        </div>
                    </a>
                    <div  
                        class="flex flex-col items-center justify-between w-full gap-4
                            md:flex-row"
                    >
                        <button 
                            class="bg-blue-500 text-white rounded-sm px-4 py-2 w-full
                            hover:opacity-75 transition-all"
                            onclick="window.location.assign('/profiles/<%=friend.id%>')"
                        >
                            <i class="fa-solid fa-user text-lg mr-2"></i>
                            <span class="font-light">View Profile</span>
                        </button>
                        <button 
                            class="bg-red-500 text-white rounded-sm px-4 py-2 w-full
                            hover:opacity-75 transition-all"
                            onclick="window.location.assign('/friends/<%=friend.id%>/unfriend')"
                        >
                            <i class="fa-solid fa-x text-lg mr-2"></i>
                            <span class="font-light">Unfriend</span>
                        </button>
                    </div>
                </div>

                <%}) %>
            <%} else {%>
                <h1 class="text-red-500 font-light text-center">No List to dispaly</h1>
            <%}%>    
         </div>
     </section>
     <section class="w-2/5 hidden xl:block">
        <aside class="px-2 border-l w-2/5 fixed top-16 bottom-0 space-y-2">
            <h1 class="text-white font-bold p-2 bg-blue-500">
                More Actions
            </h1>
            <div aria-hidden="true" 
                class="border rounded-md space-y-2 p-2 w-full"
            >
             </div>
             <hr>
             <%-include('./partials/footer.ejs') %>
         </aside>
    </section>
    <%-include('./partials/side-drawer.ejs') %>
</main>
</body>
<script src="/scripts/navlinks.js"></script>
</html>