    <%-include('./partials/head.ejs') %>
   <%-include('./partials/header.ejs') %>
   <main class="lg:flex lg:flex-row lg:gap-4 pt-20">
       <%-include('./partials/side-nav') %>
        <section 
            aria-live="polite"
            class="container space-y-4 w-full lg:w-3/5 xl:w-2/5 "
        > 
        <div class="my-2 border rounded-md">
            <%-include('./partials/post-creater.ejs') %>
        </div>
        <hr>
        <div class="relative">
            <%-include('./partials/post.ejs') %>
            <%-include('./partials/confirm-share.ejs') %>
        </div>
        </section>
        <aside class=" hidden p-4 border-l w-2/5 xl:block">
            
        </aside>
   </main>
   <%-include('./partials/footer.ejs') %>
</body>
<script src="/scripts/post.js" type="module"></script>
<script src="/scripts/utils/comment-author-container.js" type="module"></script>
</html>