<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>OdinBook | Home </title>
</head>
<body>
    <img src="<%=user.pictureUrl%>" alt="<%=user.name%>">
    <h1>Display Name: <%=user.name%></h1>
    <h2>Last Name: <%=user.last_name%></h2>
    <h2>Middle Name: <%=user.middle_name%></h2>
    <h2>First Name: <%=user.first_name%></h2>
</body>
</html>