<%-include('./partials/head.ejs') %>
<%-include('./partials/header.ejs') %>
<main class="lg:flex lg:flex-row lg:gap-4">
    <section class="w-1/5">
        <%-include('./partials/side-bar') %>
    </section>
    <section aria-live="polite"
         class="container pb-12 space-y-4 w-full lg:w-3/5 xl:w-2/5
          pt-20
         "
    > 
        <h1 class="font-bold bg-blue-500 p-2 text-white md:mt-8 lg:mt-0">
            People you may know
        </h1>
         <hr>
         <div class="people space-y-2">
            <%if(people.length) {%>
                <%people.forEach(person => { %>
                <div class="flex flex-col items-start gap-2 border rounded-md p-2">
                    <a href="/profiles/<%=person.id %>">
                        <div class="flex flex-row items-center gap-2">
                            <img 
                                src="<%=person.pictureUrl%>" 
                                alt="<%=person.name%>" 
                                class="h-10 w-10 rounded-full"
                            >
                            <div class="flex flex-col">
                                <h1 class="text-slate-600"><%=person.name%></h1>
                                <span class="text-xs text-slate-400 font-light">
                                    <%=person.mutualFriends%> Mutual friends</span>
                            </div>
                        </div>
                    </a>
                    <div class="flex flex-row items-center justify-between w-full gap-4">
                        <button 
                        class="bg-blue-500 text-white rounded-sm px-4 py-2 w-full
                            hover:opacity-75 transition-all"
                        >
                            Send Request
                        </button>
                        <button 
                        class="bg-red-500 text-white rounded-sm px-4 py-2 w-full
                            hover:opacity-75 transition-all"
                        >
                            Remove
                        </button>
                    </div>
                </div>

                <%}) %>
            <%} else {%>
                <h1 class="text-red-500 font-light text-center">No List to dispaly</h1>
            <%}%>    
         </div>
     </section>
     <section class="w-2/5 hidden xl:block">
         <aside class="p-2 border-l w-2/5 fixed top-16 bottom-0 space-y-2">
            <div aria-hidden="true" 
                class="border rounded-md space-y-2 p-2 w-full"
            >
                <h1 class="text-white font-bold p-2 bg-blue-500">Filter</h1>
                <ul class="w-full">
                    <a href="/people" >
                        <li
                            class="p-2 text-slate-600 w-full hover:bg-blue-500 
                            transition-all hover:text-white"
                        >
                            All People
                        </li>
                    </a>
                    <a href="/people/requests/sent">
                        <li 
                            class="p-2 text-slate-600 w-full hover:bg-blue-500 
                            transition-all hover:text-white"
                        >
                            Requests Sent
                        </li>
                    </a>
                    <a href="/people/requests/received">
                        <li 
                            class="p-2 text-slate-600 w-full hover:bg-blue-500 
                            transition-all hover:text-white">
                            Requests received
                        </li>
                    </a>
                </ul>
             </div>
             <hr>
             <%-include('./partials/footer.ejs') %>
         </aside>
    </section>
    <%-include('./partials/side-drawer.ejs') %>
    <div aria-hidden="true" 
        class=" fixed z-2 w-full border  p-2 bg-blue-500 bottom-8
        right-0 xl:hidden lg:w-4/5"
    >
        <ul class="flex flex-row items-center justify-between gap-4 ">
            <a class="text-sm font-light w-full" href="/people">
                <li class="p-2 text-white text-center bg-slate-500 w-full 
                    hover:opacity-75 transition-all"
                >
                    All People
                </li>
            </a>
            <a class="text-sm font-light w-full" 
                href="/people/requests/sent">
                <li class="p-2 text-white text-center bg-slate-500 w-full 
                    hover:opacity-75 transition-all"
                >
                    Requests Sent
                </li>
            </a>
            <a class="text-sm font-light w-full" 
                href="/people/requests/received">
                <li class="p-2 text-white text-center bg-slate-500 w-full 
                    hover:opacity-75 transition-all"
                >
                    Requests Received
                </li>
            </a>
        </ul>
        </div>
</main>
</body>
<script src="/scripts/comment.js"></script>
<script src="/scripts/likes.js"></script>
<script src="/scripts/shared.js"></script>
<script src="/scripts/publish-post.js"></script>
</html>