<%-include('./partials/header') %>
        <div class="people space-y-2">
            <%if(people.length) {%>
                <%people.forEach(person => { %>
                <div class="flex flex-col items-start gap-2 border rounded-md p-2">
                    <a href="/profiles/<%=person.id %>">
                        <div class="flex flex-row items-center gap-2">
                            <img 
                                src="<%=person.pictureUrl%>" 
                                alt="<%=person.name%>" 
                                class="h-10 w-10 rounded-full"
                            >
                            <div class="flex flex-col">
                                <h1 class="text-slate-600"><%=person.name%></h1>
                                <span class="text-xs text-slate-400 font-light">
                                    <%if(person.mutualFriends < 2){%>
                                        <%=person.mutualFriends%> Mutual friend</span>
                                    <%} else {%>
                                        <%=person.mutualFriends%> Mutual friends</span>
                                    <%}%>
                            </div>
                        </div>
                    </a>
                    <div class="flex flex-row justify-between w-full gap-5 items-center">
                        <button 
                            class="bg-blue-500 text-white rounded-sm px-4 py-2 w-full
                            hover:opacity-75 transition-all"
                            onclick="window.location.assign('/profiles/<%=person.id%>')"
                        >
                            <i class="fa-solid fa-user text-lg mr-2"></i>
                            <span class="font-light">View Profile</span>
                        </button>
                        <button 
                            class="bg-green-500 text-white rounded-sm px-4 py-2 w-full
                            hover:opacity-75 transition-all font-light"
                            onclick="window.location.assign(
                                '/people/requests/<%=person.id%>'
                                )"
                        >
                            Send Request
                        </button>
                    </div>
                </div>
                <%}) %>
            <%} else {%>
                <h1 class="text-red-500 font-light text-center">
                    No List to dispaly
                </h1>
            <%}%>    
        </div>
    </section>
    <%-include('./partials/people-filters.ejs') %>