<%-include('./partials/header') %>
        <div>
            <!-- Post -->
            <div class="container post space-y-2 p-2 border rounded-md">
                <div class="space-y-2">
                    <a href="/profiles/<%=post.author.id%>">
                        <div class="flex flex-row items-start gap-4">
                            <img 
                                class="h-10 w-10 rounded-full"
                                src="<%=post.author&&post.author.pictureUrl%>"
                                alt= "<%=post.author&&post.author.name%>" 
                            >
                            <div class="flex flex-col">
                                <h1 class="font-md"><%=post.author&&post.author.name%></h1>
                                <span class="text-xs font-light text-slate-400"><%=post.createdAt%></span>
                            </div>
                        </div>
                    </a>
                    <p class="font-light text-md">
                        <%=post.content%>
                    </p>
                    <a href="<%=post.media%>">
                        <img 
                            src="<%=post.media%>"
                            alt="post"
                            class="w-full rounded-md"
                        >
                    </a>
                </div>
                 <!--Post end  -->
                <hr>
                <!-- Buttons start -->
                <div class="interactions flex flex-row justify-between 
                    items-center">
                    <button
                        class="text-blue-400 text-xl  px-4 py-2 
                            rounded-sm transition-all hover:bg-slate-400 comment-btn"
                    >
                        <i class="fa-solid fa-envelope"></i>
                        <span class="text-slate-500 font-light text-sm">
                            <%=post.comments.length%> Comments
                        </span>
                    </button>
                    <button
                        class="text-blue-400 text-xl  px-4 py-2 
                            rounded-sm transition-all hover:bg-slate-400 like-btn 
                            focus:outline-none"
                        onclick="window.location.assign(
                            '/posts/<%=post.id%>/likes'
                        )"
                    >
                        <%if(post.user_liked){ %>
                            <i class="fa-solid fa-heart text-red-500"></i> 
                        <%} else {%>
                            <i class="fa-solid fa-heart text-blue-400"></i> 
                        <%}%>
                        <span class="text-slate-500 font-light text-sm">
                            <%=post.likes%> Likes
                        </span>
                    </button>
                    <button
                        class="text-blue-400 text-xl  px-4 py-2 
                            rounded-sm transition-all hover:bg-slate-400 share-btn"
                        onclick="window.location.assign('/posts/<%=post.id%>/reposts')"
                    >
                        <%if(post.user_reposted){%>
                            <i class="fa-solid fa-arrows-rotate text-green-400"></i>
                        <%} else {%>
                            <i class="fa-solid fa-arrows-rotate text-blue-400"></i>
                        <%}%>
                        <span class="text-slate-500 font-light text-sm">
                            <%=post.reposts%> Reposts
                        </span>
                    </button>
                </div>
                <!-- Buttons end -->
                <hr>
                <!-- Comment text area start -->
                <div class="comment-section space-y-4" aria-live="polite">
                    <%-include('./partials/comment-form.ejs') %>
                </div>
                <!-- Comment text area end -->
                <!-- Comments List Start -->
                <%if(post.comments && post.comments.length){%>
                    <div class="bg-gray-300 p-2">
                        <div class="comments space-y-2" aria-live="polite">
                            <%post.comments.forEach(comment => { %>
                                <div class="space-y-2 p-2 rounded-md border bg-white">
                                    <div class="flex flex-row items-center justify-between">
                                        <a href="/profiles/<%=comment.author.id%>">
                                            <div class="flex flex-row items-center gap-4">
                                                <img 
                                                    src="<%=comment.author.pictureUrl%>" 
                                                    alt="<%=comment.author.name%>" 
                                                    class="h-10 w-10 rounded-full"
                                                >
                                                <h1 class="text-slate-600">
                                                    <%=comment.author.name%>
                                                </h1>
                                            </div>
                                        </a>
                                        <span class="text-xs text-slate-400 font-light">
                                            <%=comment.createdAt%>
                                        </span>
                                    </div>
                                    <p class="text-slate-600 text-sm font-light">
                                        <%=comment.text%>
                                    </p>
                                </div>
                            <%})%>
                        </div>
                    </div>
                <%}%>
                <!-- comment List end -->
            <!-- Post -->
        </div>
    </section>
    <section class="w-2/5 hidden xl:block">
        <aside class="p-4 border-l w-2/5 pt-4 fixed top-12 bottom-0 space-y-2">
        <h1 class="p-2 font-bold text-white bg-blue-500">Post stats</h1>
        <div class=" p-2 border rounded-md">
            <!-- Textarea to write new comments. Visible only on wide screens -->
            <p>Comments: <%=post.comments.length%></p>
            <p>Likes: <%=post.likes%></p>
            <p>Reposts: <%=post.reposts%></p>
            <!-- Textarea to write new comments. Visible only on wide screens-->
        </div>
            <hr>
            <%-include('./partials/footer.ejs') %>
        </aside>
    </section>
    <%-include('./partials/side-drawer.ejs') %>
</main>
</body>
<!-- <script src="/scripts/comment.js"></script> -->
<script src="/scripts/navlinks.js"></script>
<script src="/scripts/textarea.js"></script>
<script src="/scripts/validate-comment.js"></script>

</html>