<%-include('./partials/head.ejs') %>
<%-include('./partials/header.ejs') %>
<main class="lg:flex lg:flex-row lg:gap-4">
    <section class="w-1/5">
        <%-include('./partials/side-bar') %>
    </section>
    <section id="posts" aria-live="polite"
        class="container pb-12 space-y-4 w-full lg:w-3/5 xl:w-2/5
        xl:pt-16"
    > 
        <h1 class="font-bold bg-blue-500 p-2 text-white 
            xl:mt-4 lg:mt-16 md:mt-24 mt-20">
            User Profile
        </h1>
        <hr>
        <div class="my-2 border rounded-b rounded-md">
            <%if(profile.banner) {%>
            <div class="relative w-full h-40">
                <a href="<%=profile.banner%>">
                    <div style="background-image: url('<%=profile.banner%>');" 
                        class="banner w-full h-40 absolute top-0 right-0 "
                    > 
                    </div>
                </a>
                <a href="<%=profile.pictureUrl%>">
                    <img src="<%=profile.pictureUrl%>" 
                        alt="<%=profile&&profile.name%>" 
                        class="profile h-24 w-24 rounded-full absolute 
                        left-2 top-28"
                    >
                </a>
            </div>
            <%} else {%>
            <div class="banner w-full h-40 bg-blue-500 relative "> 
                <a href="<%=profile.pictureUrl%>">
                    <img src="<%=profile.pictureUrl%>" 
                        alt="<%=profile&&profile.name%>" 
                        class="profile h-24 w-24 rounded-full absolute 
                        left-2 top-28"
                    >
                </a>
            </div>
            <%}%>
            <div class="flex flex-row items-center gap-4 mt-12">
                <h1 class="text-slate-600 font-bold text-xl px-2">
                    <%=profile&&profile.name%>
                </h1>
                <h2 class="font-light text-slate-400">
                    <span class="font-bold text-slate-500">
                        <%=profile.total_friends%>
                    </span> 
                    Friends
                </h2>
                <h2 class="font-light text-slate-400">
                    <span class="font-bold text-slate-500">
                        <%=profile.total_posts%>
                    </span> 
                    Posts
                </h2>
            </div>
            <div class="flex flex-row items-center gap-4 px-2">
                <h2 class="text-slate-400">
                    <span class="text-slate-600 text-sm font-md">
                        Joined: 
                    </span> 
                    <span class="font-light text-xs">
                        <%=profile.joined_date%>
                    </span>
                </h2>
                <h2 class="text-slate-400">
                    <i class="fa-solid fa-location-dot"></i> 
                    <span class="font-light text-xs"> 
                        <%=profile.city%>, <%=profile.region%>
                    </span>
                </h2>
                
            </div>
            <%if(profile.id === user.id) {%>
            <div class="m-2">
                <button 
                    class="p-2 w-full bg-blue-500 text-white font-bold space-x-4 
                    hover:opacity-57 transition-all rounded-sm"
                    onclick="window.location.assign('/profiles/<%=profile.id%>/edit')"
                >
                    <i class="fa-solid fa-pencil"></i>
                    <span>Edit Profile</span>
                </button>
            </div>
            <%} else {%>
                <div class="flex justify-between items-center gap-4 m-2">
                    <button class=" bg-blue-500 py-2 text-white space-x-4
                        hover:opacity-75 w-full rounded-sm transition-all">
                        <i class="fa-solid fa-message"></i>
                        <span>Message</span>
                    </button>
                    <button class="bg-red-500 py-2 w-full rounded-sm font-bold 
                        text-white hover:opacity-75 transition-all space-x-4">
                        <i class="fa-solid fa-x"></i>
                        <span>Unfriend</span>
                    </button>
                </div>
            <%}%>
        </div>
        <hr class="lg:hidden xl:hidden">
        <div>
            <%-include('./partials/post.ejs') %>
        </div>
     </section>
     <section class="w-2/5 hidden xl:block">
         <aside class="p-4 border-l w-2/5 pt-4 fixed top-16 bottom-0 space-y-2">
             <div aria-hidden="true" class="border rounded-md">
                <!-- Create new post 2 visible only on wide screens -->
                <h1 class="font-bold text-white bg-blue-500 p-2">
                    More Actions
                </h1>
                <!-- Create new post visible only on wide screens-->
             </div>
             <hr>
             <%-include('./partials/footer.ejs') %>
         </aside>
     </section>
     <%-include('./partials/side-drawer.ejs') %>
</main>
</body>
<script src="/scripts/navlinks.js"></script>
</html>